doctype html
html
  head
    title acems - asociación de comerciantes de miraflores de la sierra
    link(rel='stylesheet', href='/css/acems.css')
    link(rel='stylesheet', href='/css/Semantic-UI/semantic.min.css')
    link(rel='stylesheet', type="text/css", href='/js/plugins/jsgrid-1.5.3/jsgrid.min.css')
    link(rel='stylesheet', type="text/css", href='/js/plugins/jsgrid-1.5.3/jsgrid-theme.min.css')

    script(src='/js/plugins/jquery-3.3.1.min.js')
    script(src='/js/plugins/lodash/lodash-4.17.10.js')
    script(src='/css/Semantic-UI/semantic.min.js')
    script(src='/js/plugins/jsgrid-1.5.3/jsgrid.min.js')
    script(src='/js/app.js')



body
.ui.segment.context.full
    .ui.pointing.menu
        a.item.active(data="inicio") Inicio 
        a.item(data="directorio") Asociados 
        a.item(data="map") Mapa 
        .item.right.menu
            .item(data="buscar")
                .ui.transparent.icon.input
                    input(type='text', placeholder='Buscar...')
                    i.search.link.icon

    .ui.bottom.attached.segment.pushable.acems
        .ui.inverted.labeled.icon.left.inline.vertical.sidebar.menu(style='')
            a.item
                
                |  Inicio
            a.item(data="asociados")
                
                |  Asociados
            a.item(data="map")
                
                |  Mapa
            a.item
                
                |  History
        .pusher
            .ui.basic.segment
                .ui.basic.segment.inicio
                    h3.ui.header Inicio

                .ui.basic.segment.directorio.hidden
                    h3.ui.header Directorio

                .ui.basic.segment.map.hidden
                    h3.ui.header google maps

                .ui.basic.segment.history.hidden
                    h3.ui.header History
