doctype html
html
  head
    title acems - asociación de comerciantes de miraflores de la sierra
    link(rel='stylesheet', href='/css/acems.css')
    link(rel='stylesheet', href='/css/Semantic-UI/semantic.min.css')
    link(rel='stylesheet', type="text/css", href='/js/plugins/jsgrid-1.5.3/jsgrid.min.css')
    link(rel='stylesheet', type="text/css", href='/js/plugins/jsgrid-1.5.3/jsgrid-theme.min.css')

    script(src='/js/plugins/jquery-3.3.1.min.js')
    script(src='/js/plugins/lodash/lodash-4.17.10.js')
    script(src='/css/Semantic-UI/semantic.min.js')
    script(src='/js/plugins/jsgrid-1.5.3/jsgrid.min.js')
    script(src='/js/app.js')



body
.context.example.full
  .ui.segment.full
      .ui.pointing.menu
          a.item.active(data="inicio") Inicio 
          a.item.directorio(data="directorio") Asociados 
          a.item(data="map") Mapa 
          .item.right.menu
              .item(data="buscar")
                  .ui.transparent.icon.input
                      input(type='text', placeholder='Buscar...')
                      i.search.link.icon
      .ui.bottom.attached.segment.pushable
          .ui.inverted.labeled.icon.left.inline.vertical.sidebar(style='')
            .ui.vertical.accordion.menu

          .pusher
              .ui.basic.segment
                  .ui.basic.segment.inicio
                      h3.ui.header Inicio

                  .ui.basic.segment.directorio.hidden
                      h3.ui.header COMERCIOS
                      .ui.cards
                        .card.orange
                          .content
                            .header PASTELERIA LOS ALAMOS
                            .meta PASTELERIA
                            .description
                              table 
                                  tr 
                                    td._field Dirección:
                                    td._fieldContent PSO. LOS ALAMOS 7. 
                                  tr                                
                                    td._field Teléfono:
                                    td._fieldContent (91) 844 37 65 
                        .card
                          .content
                            .header Veronika Ossi
                            .meta Amigo
                            .description
                              | Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
                        .card
                          .content
                            .header Jenny Hess
                            .meta Amigo
                            .description Jenny is a student studying Media Management at the New School 

                      

                  .ui.basic.segment.map.hidden
                      h3.ui.header google maps

                  .ui.basic.segment.history.hidden
                      h3.ui.header History
