doctype html
html
  head
    title abooks
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/webcam.css')
    link(rel='stylesheet', href='/css/Semantic-UI/semantic.min.css')
    link(rel='stylesheet', type="text/css", href='/js/plugins/jsgrid-1.5.3/jsgrid.min.css')
    link(rel='stylesheet', type="text/css", href='/js/plugins/jsgrid-1.5.3/jsgrid-theme.min.css')

    script(src='/js/plugins/jquery-3.3.1.min.js')
    script(src='/js/plugins/lodash/lodash-4.17.10.js')
    script(src='/css/Semantic-UI/semantic.min.js')
    script(src='/js/plugins/jsgrid-1.5.3/jsgrid.min.js')
    script(src='/js/UI-webCamera.js')
    script(src='/js/app.js')
  body
    block content